#movies img, #movie img{
    width: 100%;
    
}

@media(min-width:960px) {
    #movies .col-mid-3 .well{
        height: 390px;
    }

    #movies .col-mid-3 img{
        height: 240px;
    }
}

#ul {
    font-family: "Times New Roman", Times, serif;
}

#h3 {
    font-size: 800px;
}

#movie {
    font-size: 15px;
    font-family: inherit;
}

title {
    font-size: 500px;
}